{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

    <title>Fem Fluid | Development Facility</title>

    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/font-awesome.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/compressed/subpage.css' %}"
    />

    <style>
      #about .center-heading p {
        text-align: left !important;
      }
    </style>
  </head>

  <body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky background-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="https://femfluid.herokuapp.com/"
                ><img
                  src="{% static 'assets/images/logo.png' %}"
                  class="logo"
                  alt="Logo"
              /></a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a
                    href="https://femfluid.herokuapp.com/#welcome"
                    class="menu-item"
                    >Home</a
                  >
                </li>
                <li class="scroll-to-section">
                  <a
                    href="https://femfluid.herokuapp.com/#about"
                    class="menu-item"
                    >About</a
                  >
                </li>
                <li class="submenu infa-ul">
                  <a href="javascript:;" class="active" rel="nofollow"
                    >Infrastructure</a
                  >
                  <ul>
                    <li>
                      <a href="#" class="menu-item">Development Facility</a>
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/test"
                        class="menu-item"
                        >Testing Facility</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/prod"
                        class="menu-item"
                        >Production Facility</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="submenu prod-ul">
                  <a href="javascript:;" rel="nofollow">Products</a>
                  <ul>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/sd_series"
                        class="menu-item"
                        >Auto SD Series</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/mr_series"
                        class="menu-item"
                        >Aero MR Series</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/arm_series"
                        class="menu-item"
                        >ARM<sup>2</sup> Series</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/elec_series"
                        class="menu-item"
                        >Elec Series</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/fluids_l"
                        class="menu-item"
                        >Smart Fluids(L)</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/paste"
                        class="menu-item"
                        >Smart Paste</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://femfluid.herokuapp.com/fluids_p"
                        class="menu-item"
                        >Smart Fluids(P)</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="scroll-to-section">
                  <a
                    href="https://femfluid.herokuapp.com/#contact-us"
                    class="menu-item"
                    >Contact Us</a
                  >
                </li>
              </ul>
              <ul class="social">
                <li>
                  <a href="https://linkedin.com/" target="blank"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
                <!-- <li><a href="https://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li> -->
                <li>
                  <a href="tel:1234567890"><i class="fa fa-phone"></i></a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="right-image-decor"></div>

    <section class="section" id="about">
      <div class="container">
        <div
          class="row center-heading about-box justify-content-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
        >
          <h3 class="col-12">
            Development Facility
            <a
              rel="nofollow"
              href="https://charusat.ac.in/"
              target="blank"
              class="h5"
              title="CHARUSAT"
              >@CHARUSAT</a
            >
          </h3>
          <div class="col-lg-6" style="margin-top: 30px">
            <p>
              <strong>Rheometer</strong>: To identify and validate rheological
              properties of smart fluids.
            </p>
            <br />
            <div class="col-lg-8 offset-lg-2 product-img">
              <img
                src="{% static 'assets/images/rheometer.jpg' %}"
                alt="Rheometer"
              />
            </div>
          </div>
          <div class="col-lg-6" style="margin-top: 30px">
            <p>
              <strong>Magnetometer</strong>: To understand magnetic properties
              of materials.
            </p>
            <br />
            <div class="col-lg-8 offset-lg-2 product-img">
              <img
                src="{% static 'assets/images/Magnetometer.jpg' %}"
                alt="Magnetometer"
              />
            </div>
          </div>
          <div class="col-lg-6" style="margin-top: 30px">
            <p>
              <strong>X-Ray Defractometer</strong>: To characterize structural
              properties of materials.
            </p>
            <br />
            <div class="col-lg-8 offset-lg-2 product-img">
              <img
                src="{% static 'assets/images/XRD.jpg' %}"
                alt="X-Ray Defractometer"
              />
            </div>
          </div>
          <div class="col-lg-6" style="margin-top: 30px">
            <p>
              <strong>Surface Electron Microscope</strong>: To study surface
              morphology of materials.
            </p>
            <br />
            <div class="col-lg-8 offset-lg-2 product-img">
              <img
                src="{% static 'assets/images/SEM.jpg' %}"
                alt="Surface Electron Microscope"
              />
            </div>
          </div>
          <div class="col-lg-12" style="margin-top: 30px">
            <p>
              <strong>ICP-Characterization of chemicals and base fluids</strong>
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer id="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="sub-footer">
              <p>
                Copyright &copy; 2021
                <a href="https://femfluid.herokuapp.com/">FEM FLUID</a>

                | Website designed and developed by
                <a
                  href="https://www.linkedin.com/in/jeet-kaneriya-9853b2240"
                  target="blank"
                  >Jeet Kaneriya</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'assets/compressed/jquery.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/compressed/subpage.js' %}"></script>
  </body>
</html>
