{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Fem Fluid | Smart Fluids(L)</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/subpage.css' %}">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky background-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="https://femfluid.herokuapp.com/"><img src="{% static 'assets/images/logo.png' %}" class="logo" alt="Logo"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="https://femfluid.herokuapp.com/#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="https://femfluid.herokuapp.com/#about" class="menu-item">About</a></li>
                            <li class="submenu infa-ul">
                                <a href="javascript:;" rel="nofollow">Infrastructure</a>
                                <ul>
                                    <li><a href="https://femfluid.herokuapp.com/dev" class="menu-item">Development Facility</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/test" class="menu-item">Testing Facility</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/prod" class="menu-item">Production Facility</a></li>
                                </ul>
                            </li>                              <li class="submenu prod-ul">
                                <a href="javascript:;" class="active" rel="nofollow">Products</a>
                                <ul>
                                    <li><a href="https://femfluid.herokuapp.com/sd_series" class="menu-item">Auto SD Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/mr_series" class="menu-item">Aero MR Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/arm_series" class="menu-item">ARM<sup>2</sup> Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/elec_series" class="menu-item">Elec Series</a></li>
                                    <li><a href="#" class="menu-item">Smart Fluids(L)</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/paste" class="menu-item">Smart Paste</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/fluids_p" class="menu-item">Smart Fluids(P)</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="https://femfluid.herokuapp.com/#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="https://linkedin.com/" target="blank"><i class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="https://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li> -->
                            <li><a href="tel:1234567890"><i class="fa fa-phone"></i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="right-image-decor"></div>

    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="about-box center-heading">
                        <h3 style="margin-bottom: 0;">Smart Fluids(L)</h3>
                        <br>
                        <p>Magnetorheological fluids is commonly known as Smart Fluids. MR fluids are basically a mixture of mineral oil or synthetic oil and Pure Iron Powder. MR fluids consists of around 30 % by volume of Pure Iron particles. Size of this Iron particles is around 10 microns. Viscosity of these fluids change drastically under influence of magnetic field. The Yield stress of the fluid in active state can be controlled very accurately by varying magnetic filed. This fluid finds application in dampers, clutches, shock absorbers etc.</p><br>
                        <div class="row justify-content-center">
                            <div class="col-10 col-md-4 product-img" style="margin-top: 20px;">
                                <img src="{% static 'assets/images/fluid_l_comp.jpg' %}" alt="Ven Diagram">
                            </div>
                            <div class="col-10 col-md-4 product-img" style="margin-top: 20px;">
                                <img src="{% static 'assets/images/fluid_l_img.png' %}" alt="Fluids">
                            </div>
                        </div>
                        <br><br>
                        <h5>Product details</h5><br>
                        <table class="table table-sm col-12 table-responsive-md table-bordered">
                            <thead class="thead-light">
                                <tr>
                                <th rowspan="2">Properties</th>
                                <th scope="col"></th>
                                <th scope="col">Values</th>
                                <th scope="col"></th>
                                </tr>
                                <tr>
                                <th scope="col">MR1</th>
                                <th scope="col">MR2</th>
                                <th scope="col">MR3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>Weight fraction (%)</td>
                                <td>70</td>
                                <td>65</td>
                                <td>60</td>
                                </tr>
                                <tr>
                                <td>Density (g/cm<sup>3</sup>)</td>
                                <td>1.98</td>
                                <td>1.73</td>
                                <td>1.52</td>
                                </tr>
                                <tr>
                                <td>Yield Stress (kPa) @174. 3 kA/m</td>
                                <td>45</td>
                                <td>34</td>
                                <td>22</td>
                                </tr>
                                <tr>
                                <td>Plastic Viscosity (mPa. s) @ 40oC</td>
                                <td>78</td>
                                <td>70</td>
                                <td>65</td>
                                </tr>
                                <tr>
                                <td>Magnetic Permeability, Relative @low Field</td>
                                <td>3.5</td>
                                <td>2.5</td>
                                <td>1.5</td>
                                </tr>
                                <tr>
                                <td>Response Time (s)</td>
                                <td>&lt;0.001</td>
                                <td>&lt;0.001</td>
                                <td>&lt;0.001</td>
                                </tr>
                                <tr>
                                <td>Flashpoint (&deg;C)</td>
                                <td>&gt;150</td>
                                <td>&gt;150</td>
                                <td>&gt;150</td>
                                </tr>
                            </tbody>
                        </table><br><br>
                        <div class="row justify-content-center">
                            <div class="col-6 col-md-4 product-img">
                                <img src="{% static 'assets/images/fluid_l_graph.jpg' %}" alt="Graph">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer id="contact-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2021 <a href="https://femfluid.herokuapp.com/">FEM FLUID</a>

                        | Designed by <a href="https://www.linkedin.com/in/coding-comrades-654b3120a/" target="blank">Cod'rades</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/subpage.js' %}"></script>

</body>
</html>