{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Fem Fluid | Auto SD Series</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/compressed/subpage.css' %}">

    <style>

        @media (max-width: 768px){
            .product-img img{
                margin-bottom: 20px;
            }
        }

    </style>

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky background-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="https://femfluid.herokuapp.com/"><img src="{% static 'assets/images/logo.png' %}" class="logo" alt="Logo"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="https://femfluid.herokuapp.com/#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="https://femfluid.herokuapp.com/#about" class="menu-item">About</a></li>
                            <li class="submenu infa-ul">
                                <a href="javascript:;" rel="nofollow">Infrastructure</a>
                                <ul>
                                    <li><a href="https://femfluid.herokuapp.com/dev" class="menu-item">Development Facility</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/test" class="menu-item">Testing Facility</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/prod" class="menu-item">Production Facility</a></li>
                                </ul>
                            </li>                             
                            <li class="submenu prod-ul">
                                <a href="javascript:;" class="active" rel="nofollow">Products</a>
                                <ul>
                                    <li><a href="#" class="menu-item">Auto SD Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/mr_series" class="menu-item">Aero MR Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/arm_series" class="menu-item">ARM<sup>2</sup> Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/elec_series" class="menu-item">Elec Series</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/fluids_l" class="menu-item">Smart Fluids(L)</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/paste" class="menu-item">Smart Paste</a></li>
                                    <li><a href="https://femfluid.herokuapp.com/fluids_p" class="menu-item">Smart Fluids(P)</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="https://femfluid.herokuapp.com/#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="https://linkedin.com/" target="blank"><i class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="https://facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li> -->
                            <li><a href="tel:1234567890"><i class="fa fa-phone"></i></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="right-image-decor"></div>
    
    <section class="section" id="about">
        <div class="container">
            <div class="row about-box center-heading">
                <h3 class="col-12">Auto SD Series</h3>

                <p class="col-12" style="margin-bottom: 10px;">Smart devices for automotive application. Auto SD range of MR dampers provide better riding, lower shock transfers and increase overall life of the vehicles.<br><br></p>
                <div class="col-12 col-md-4 col-xl-6">
                    <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4 product-img">
                        <img src="{% static 'assets/images/img-sd-series.jpg' %}" alt="Auto SD Series" class="d-none d-md-block">
                        <img src="{% static 'assets/images/img-sd-series-r.jpg' %}" alt="Auto SD Series" class="d-md-none">
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-6">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h5>
                                Auto SD-25
                              </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="col-12 table-responsive-lg">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                            <tr>
                                            <th scope="col">Product&nbsp;Details</th>
                                            <th scope="col" style="visibility: hidden;">thistextisjustfornonw</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td>Damping force range</td>
                                            <td>100N @0A @0.1m/sec</td>
                                            </tr>
                                            <tr>
                                            <td></td>
                                            <td>1500N @1A @1m/sec</td>
                                            </tr>
                                            <tr>
                                            <td>Stroke length</td>
                                            <td>60-90mm</td>
                                            </tr>
                                            <tr>
                                            <td>Durability</td>
                                            <td></td>
                                            </tr>
                                            <tr>
                                            <td>Response Time</td>
                                            <td>Less than Millisecond</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h5 class="collapsed">
                                Auto SD-37
                              </h5>
                          </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>(Content Here)</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h5 class="collapsed">
                                 Auto SD-44(c)
                              </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>(Content Here)</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h5 class="collapsed">
                                    Auto SD-48(SM)
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>(Content Here)</p>
                            </div>
                          </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingFive" role="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h5 class="collapsed">
                                    Auto SD-42(SP)
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>(Content Here)</p>
                            </div>
                          </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingSix" role="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <h5 class="collapsed">
                                    Auto SD-55(LC)
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>(Content Here)</p>
                            </div>
                          </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingSeven" role="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <h5 class="collapsed">
                                    Auto SD-101(HV)
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>(Content Here)</p>
                            </div>
                          </div>
                          </div>
                      </div>                    
                </div>
            </div>
        </div>
    </section>
    
    <footer id="contact-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2021 <a href="https://femfluid.herokuapp.com/">FEM FLUID</a>

                        | Designed by <a href="https://www.linkedin.com/in/coding-comrades-654b3120a/" target="blank">Cod'rades</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{% static 'assets/compressed/jquery.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/compressed/subpage.js' %}"></script>

</body>
</html>